<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
        *{
            font-family: "Poppins", sans-serif;
            padding: 0;
            margin: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 100px;
            background: #28667E;
            display: flex;
            justify-content: space-between;
        }
        /* img{
            width: 300px;
            height: 144px;
        } */
        body{
            background-color: white;
        }
        /* .navigation img{
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 100%;
        } */
        #diagnosa{
            color: white;
            border-radius: 10%;
            text-decoration: none;
            padding: 5px;
            font-size: x-large;
        }
        a img{
            width: 58px;
            height: 51px;
        }
        .btnDiagnosa{
            display: flex;
            justify-content: center;
            align-items: center;
            /* width: 253px; */
            height: 83px;
            position: absolute;
            right: 50px;
            bottom: 50px;
        }
    </style>
</head>
<body class="w-full">
    
    <div class="h-14 lg:h-40"></div>
    <main class="relative">
        <% artikel.forEach(artikel => { %>
            <a href="/artikel/<%= artikel.namaArtikel %>" class="block mx-2 lg:mx-8 shadow-xl mt-2 lg:mt-8 rounded-2xl p-2 hover:bg-blue-500 transition duration-300 ease-in-out">
                <div class=" flex bg-transparent justify-start rounded-2xl p-2">
                    <div class="flex lg:h-60 justify-start items-center lg:p-5">
                        <div class="flex w-[9.5rem] lg:w-[19rem]">
                            <img class="w-[10rem] h-28 lg:w-[20rem] lg:h-56 rounded-2xl" src="/uploads/img/<%= artikel.gambar %>" alt="">
                        </div>
                    </div>
                    <div class="flex flex-col justify-start items-start content-center text-[#28667E] ml-4">
                        <div class="flex-none h-6 lg:h-12 my-1 lg:my-5">
                            <h3 class="font-semibold text-lg lg:text-4xl"><%= artikel.namaArtikel %></h3>
                        </div>
                        <div class="lg:h-36 bg-transparent">
                            <p class="text-left text-black text-sm lg:text-2xl pr-8 line-clamp-4 font-light">
                                <%= artikel.namaArtikel %> adalah penyakit yang disebabkan oleh <%= artikel.penyebab %>, penyakit ini memiliki ciri-ciri seperti: <%= artikel.ciri.join(', ') %>
                            </p>                        
                        </div>
                    </div>
                </div>
            </a>
            <% }); %>
            <!-- <a href="/createArtikel">Create New Article</a> -->
        </main>
        <header class="px-0 lg:px-28 py-1 lg:h-32 lg:py-10">
            <img class="w-28 h-14 lg:w-72 lg:h-32" src="/uploads/img/Logo.png" alt="logo">
            <nav class="flex gap-4 lg:gap-20 navigation pr-4">
                <form action="/search" class="flex" method="post">
                    <input class="w-32 h-7 rounded-2xl text-sm lg:w-96 lg:h-14 lg:text-xl  lg:rounded-2xl" type="text" name="keyword" placeholder="Masukkan kata kunci pencarian">
                    <button class="text-[#28667E] bg-white w-20 h-10 font-bold rounded-2xl" type="submit" hidden>Cari</button>
                </form>
                <a href="/akun">
                    <img class="flex w-10 h-10 lg:w-20 lg:h-20 rounded-full" src="/uploads/img/<%= gambar %>" alt="">
                </a>
            </nav>
        </header>
        <a id="diagnosa" class="flex justify-center items-center lg:h-20 right-2 lg:right-12 bottom-2 lg:bottom-12 bg-[#28667E] w-40 lg:w-64 text-white fixed shadow-2xl hover:bg-blue-500 transition duration-300 ease-in-out" href="/createArtikel"><img class="w-10 h-10 lg:w-14 lg:h-14" src="/uploads/img/Frame 34.png" alt=""> <p class="text-sm lg:text-2xl">Tambah Artikel</p></a>
        <a id="diagnosa" class="flex justify-center items-center lg:h-20 right-2 lg:right-12 bottom-2 lg:bottom-12 bg-[#28667E] w-40 lg:w-72 mr-[10.5rem] lg:mr-72 text-white fixed shadow-2xl hover:bg-blue-500 transition duration-300 ease-in-out" href="/riwayat-user"><img class="mr-2 w-10 h-10 lg:w-14 lg:h-14" src="/uploads/img/account_box.png" alt=""> <p class="text-sm lg:text-2xl">Profil Pengguna</p></a>
    </body>
    </html>