<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
        *{
            font-family: "Poppins", sans-serif;
            padding: 0;
            margin: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 100px;
            background: #28667E;
            display: flex;
            justify-content: space-between;
        }
        /* img{
            width: 300px;
            height: 144px;
        } */
        body{
            background-color: white;
        }
        /* .navigation img{
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 100%;
        } */
        #diagnosa{
            color: white;
            border-radius: 10%;
            text-decoration: none;
            padding: 5px;
            font-size: x-large;
        }
        a img{
            width: 58px;
            height: 51px;
        }
        .btnDiagnosa{
            display: flex;
            justify-content: center;
            align-items: center;
            /* width: 253px; */
            height: 83px;
            position: absolute;
            right: 50px;
            bottom: 50px;
        }
    </style>
</head>
<body>
    
    <!-- <a class="btnDiagnosa text-white fixed" href="/diagnosa"><img src="/uploads/img/diagnosa.svg" alt=""> diagnosa</a> -->
    <div class="bg-[url('/uploads/img/unsplash_4XoCxdMnWFg.jpg')] bg-cover bg-right hidden lg:flex h-5/6 w-80 rounded-lg justify-center items-center content-center left-10 bottom-14 fixed"></div>
    <div class="h-20 lg:h-40"></div>
    <main class="px-8 flex flex-col items-start gap-2 lg:gap-8 ml-0 lg:ml-96 mb-14">
        <h1 class=" text-xl lg:text-5xl text-[#28667E] font-bold"><%= artikel.namaArtikel %></h1>
        <!-- <div class="h-36 bg-transparent">
            <p class="text-left text-4xl">
                <%= artikel.namaArtikel %> adalah penyakit yang disebabkan oleh <%= artikel.penyebab %>, penyakit ini memiliki ciri-ciri seperti: <%= artikel.ciri.join(', ') %>
            </p>                        
        </div> -->
        <h2 class="text-sm lg:text-3xl font-bold">Informasi Penyakit:</h2>
        <p class="text-left text-sm lg:text-3xl"><strong>Penyebab:</strong> <br><%= artikel.penyebab %></p>
        <p class="text-left text-sm lg:text-3xl"><strong>Ciri-ciri:</strong>
            <% artikel.ciri.forEach(function(langkah) { %>
                <li class="text-left text-sm lg:text-3xl"><%= langkah %></li>
                <% }); %>
        </p>
            
        <p class="text-left text-sm lg:text-3xl"><strong>Langkah Penanganan:</strong>
            <% artikel.langkahPenanganan.forEach(function(langkah) { %>
                <li class="text-left text-sm lg:text-3xl"><%= langkah %></li>
                <% }); %>
        </p>
                <!-- <a class="text-white text-3xl" href="/">Artikel</a> -->
                <!-- <a class="text-white text-3xl" href="/artikel/<%= artikel.namaArtikel %>/update">update</a> -->
                <!-- Tambahkan tombol delete -->
        <img class="w-[40rem] max-h-[40rem] rounded-2xl object-cover" src="/uploads/img/<%= artikel.gambar %>" alt="">
    </main> 
    <header class="px-0 lg:px-28 py-1 lg:h-32 lg:py-10">
        <a href="/">
            <img class="w-28 h-14 lg:w-72 lg:h-32" src="/uploads/img/Logo.png" alt="logo">
        </a>
        <nav class="flex gap-4 lg:gap-20 navigation pr-4">
            <form action="/search" class="flex" method="post">
                <input class="w-32 h-7 rounded-2xl text-sm lg:w-96 lg:h-14 lg:text-xl  lg:rounded-2xl" type="text" name="keyword" placeholder="Masukkan kata kunci pencarian">
                <button class="text-[#28667E] bg-white w-20 h-10 font-bold rounded-2xl" type="submit" hidden>Cari</button>
            </form>
            <a href="/akun">
                <img class="flex w-10 h-10 lg:w-20 lg:h-20 rounded-full" src="/uploads/img/<%= gambar %>" alt="">
            </a>
        </nav>
    </header>
    <a class="flex justify-center items-center rounded-lg lg:h-20 right-2 lg:right-12 bottom-2 lg:bottom-12 bg-[#28667E] w-40 lg:w-64 text-white fixed shadow-2xl hover:bg-blue-500 transition duration-300 ease-in-out" href="/artikel/<%= artikel.namaArtikel %>/update"> <img class="w-10 h-10 lg:w-14 lg:h-14" src="/uploads/img/Frame 3.png" alt=""><p class="text-sm lg:text-2xl">Edit</p></a>
    
</body>
<script>
    // Fungsi untuk menampilkan modal ketika tombol ditekan
    function showEditModal() {
      $('#editModal').modal('show'); // Menampilkan modal dengan ID 'editModal'
    }
  </script>
</html>