<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
        *{
            font-family: "Poppins", sans-serif;
            padding: 0;
            margin: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 120px;
            padding: 20px 100px;
            background: #28667E;
            display: flex;
            justify-content: space-between;
        }
        img{
            width: 300px;
            height: 144px;
        }
        body{
            background-color: #ECF4D6;
        }
        .navigation img{
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }
        .btnDiagnosa{
            color: white;
            border-radius: 10%;
            text-decoration: none;
            background-color: #28667E;
            padding: 5px;
            font-size: x-large;
        }
        .btnDiagnosa img{
            width: 58px;
            height: 51px;
        }
        .btnDiagnosa{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 171px;
            height: 83px;
            position: absolute;
            right: 50px;
            bottom: 50px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/">
            <img src="/uploads/img/Logo.png" alt="logo">
        </a>
        <nav class="flex gap-20 navigation">
            <form action="/search" class="flex" method="post">
                <input class="w-96 h-14 text-xl rounded-2xl" type="text" name="keyword" placeholder="Masukkan kata kunci pencarian">
                <button class="text-[#28667E] bg-white w-20 h-10 font-bold rounded-2xl" type="submit" hidden>Cari</button>
            </form>
            <img src="/uploads/img/profile.jpeg" alt="">
        </nav>
    </header>
    <!-- <a class="btnDiagnosa text-white fixed" href="/diagnosa"><img src="/uploads/img/diagnosa.svg" alt=""> diagnosa</a> -->
    <div class="bg-[url('/uploads/img/unsplash_4XoCxdMnWFg.jpg')] bg-cover bg-right flex h-5/6 w-80 rounded-lg justify-center items-center content-center left-10 bottom-14 fixed"></div>
    <a class="btnDiagnosa text-white text-3xl fixed hover:bg-sky-500 duration-300 ease-in-out" href="/artikel/<%= artikel.namaArtikel %>/update"> <img class="mr-3" src="/uploads/img/Frame 3.png" alt="">Edit</a>
    <div style="height: 150px;"></div>
    <main class="px-8 flex flex-col items-start gap-8 ml-96 mb-14">
        <img class="w-[64rem] h-[32rem] rounded-2xl object-cover" src="/uploads/img/<%= artikel.gambar %>" alt="">
        <h1 class="text-5xl text-[#28667E] font-bold"><%= artikel.namaArtikel %></h1>
        <!-- <div class="h-36 bg-transparent">
            <p class="text-left text-4xl">
                <%= artikel.namaArtikel %> adalah penyakit yang disebabkan oleh <%= artikel.penyebab %>, penyakit ini memiliki ciri-ciri seperti: <%= artikel.ciri.join(', ') %>
            </p>                        
        </div> -->
        <h1 class="text-3xl">Penyakit <%= artikel.namaArtikel %> pada Tanaman Jeruk</h1>
        <h2 class="text-3xl font-bold">Informasi Penyakit:</h2>
        <p class="text-left text-3xl"><strong>Penyebab:</strong> <br><%= artikel.penyebab %></p>
        <p class="text-left text-3xl"><strong>Ciri-ciri:</strong>
            <% artikel.ciri.forEach(function(langkah) { %>
                <li class="text-left text-3xl"><%= langkah %></li>
            <% }); %>
        </p>
        
        <h2 class="text-left text-3xl"><strong>Langkah Penanganan:</strong></h2>
        <ol class="text-left text-3xl">
            <% artikel.langkahPenanganan.forEach(function(langkah) { %>
                <li class="text-left text-3xl"><%= langkah %></li>
            <% }); %>
        </ol>
        <!-- <a class="text-white text-3xl" href="/">Artikel</a> -->
        
            <!-- Tambahkan tombol delete -->
        <!-- <form action="/artikel/<%= //artikel.namaArtikel %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
        </form> -->
    </main>
</body>
<script>
    // Fungsi untuk menampilkan modal ketika tombol ditekan
    function showEditModal() {
      $('#editModal').modal('show'); // Menampilkan modal dengan ID 'editModal'
    }
  </script>
</html>