<body>
    <div class="flex flex-col justify-start items-start content-center h-[59rem] px-8 overflow-y-scroll">
        <img class="w-[40rem] h-[40rem]" src="/uploads/<%= item.gambar %>" alt="">
        <p>Hasil diagnosa:</p>
        <h1 class="my-3 text-4xl text-black font-bold"><%= item.hasil.class %></h1>
        <p class="text-left">&nbsp;&nbsp;&nbsp;Kemungkinan tanaman ini terjangkit penyakit <%= item.hasil.class %> sebesar <%= (parseFloat(JSON.stringify(item.hasil.score)) * 100).toFixed(2).replace(/\.00$/, '') %>%. Penyakit ini disebabkan oleh <%= penyakit.penyebab %>.penyakit ini dapat ditangani dengan cara <%= penyakit.langkahPenanganan %></p>
        <p><br><br>Info lebih lengkap:</p>
        <li>
            <a href="/artikel/<%= penyakit.namaArtikel %>"><%= penyakit.namaArtikel %></a>
        </li>
    </div>
</body>